*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: url(image/points.png), center url(image/jump-start.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-left: 15px;

}

.nav a{
    color: white;
    text-decoration: none;
    margin-left: 0 25px;
    padding: 0 15px;
    transition: .3s;
}

.nav a:hover{
    font-weight: bold;
}

.nav .p1, .links{
    margin: 0 10%;
}

.mainInfo{
    margin: 40vh 150px;
    font-size: large;
}

.sousSection3{
    height: 20vh;
    margin-top: 60px;
}

.sousSection3 a{
    display: block;
    text-decoration: none;
    width: 150px;
    height: 40px;
    padding: 10px;
    background: #000;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    transition: .2s;
}

.sousSection3 a:hover{
    background: #414141;
}

.sousSection3 h2, .p2, a{
    text-align: center;
    margin-bottom: 10px;
}

.footer{
    height: 10vh;
    border-top: 2px solid black;
    background: #f5f5f5;
}

.footer h6{
    margin: 15px 15%;
    font-size: .8em;
}

@media all and (max-width: 595px) {

    .mainInfo{
        margin: 40vh 20px;
    }
    
}